.header-container {
  background: var(--blue);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  user-select: none;
  transition: all 0.3s ease;
  padding: 0 1rem;
}

.shadow {
  box-shadow: 0 0 10px #000;
  border-radius: 0 0 50px 50px;
}

.logo {
  align-items: center;
  justify-content: center;
  display: flex;
  margin-right: 1rem;
}

.logo:hover img {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.logo img {
  border-radius: 50%;
  animation: logoFade 0.5s ease-in-out;
  transition: all 0.3s ease;
  height: 200px;
  width: 200px;
  margin: 1rem;
}

.bar-logo img {
  height: 100px;
  width: 100px;
}

.title {
  display: flex;
}

.title p,
.title h1 {
  color: var(--lgrey);
}

.title h1 {
  font-size: 3rem;
  font-family: var(--script);
  margin-bottom: 0;
  letter-spacing: 0.15rem;
  transition: all 0.3s ease;
}

.bar-title h1 {
  font-size: 2rem;
}

.title p {
  font-size: 1.5rem;
  margin-top: 0;
  text-align: left;
  font-family: var(--body1);
  letter-spacing: 0.1rem;
  transition: all 0.3s ease;
}

.bar-title p {
  font-size: 1.1rem;
}

.nav-menu-container {
  display: flex;
}

@keyframes logoFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
