.header-container {
  height: 200px;
  background: var(--blue);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
}

.logo {
  align-items: center;
  justify-content: center;
  display: flex;
}
